<div class="row">
  <div class="col-3 offset-6 mb-3">
    <span>Filter by:</span>
    <input
      [(ngModel)] = "phrase"
      type="text" class="form-control">
  </div>
  <div class="col-6 offset-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click) = "onClick('id')">#</th>
          <th (click) = "onClick('name')">Name</th>
          <th (click) = "onClick('superPower')">Superpower</th>
          <th (click) = "onClick('address')">Address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let hero of heroes | filter:'name':phrase | sorter:key">
          <td>{{hero.id}}</td>
          <td>{{hero.name}}</td>
          <td>{{hero.superPower}}</td>
          <td>{{hero.address}}</td>
          <td>
            <button class="btn btn-info"><i class="fa fa-save"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
